{% extends 'account/wrapper.html' %}
{% load static %}
{% block content %}
        <div class="card add-product" style="padding: 25px;">
            <h1>kirish</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <i class="fa-light fa-user"></i>
                    <!-- {{ form.username }} -->
                    <input type="text" name="username" placeholder="Foydalanuvchi nomi" name="username"
                        autocomplete="off" autofocus="" autocapitalize="none" maxlength="256" required=""
                        id="id_username">
                    {% if form.errors %}
                    <i class="fa-solid fa-triangle-exclamation text-danger"></i>
                    {% endif %}
                </div>
                <div class="input-group">
                    <i class="fa-light fa-lock"></i>
                    <input type="password" name="password" required="" id="id_password" autocomplete="off" placeholder="Parol">
                    {% if form.errors %}
                    <i class="fa-solid fa-triangle-exclamation text-danger"></i>
                    {% endif %}
                    <!-- <input type="password" placeholder="password" name="password" autocomplete="off"> -->
                </div>
                <button type="submit" class="submit">submit</button>
            </form>
        </div>
{% endblock %}
