<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- CSS only -->
    <link rel="stylesheet" href="/static/css/framework.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/debug_toolbar/css/toolbar.css">
    <title>Document</title>
</head>
<body>
    <div class="divise-control">
        <div class="sidebar">
            <div class="header-content">
                <div class="toggle">
                    <div class="rectangle"></div>
                    <div class="circles">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
                <ul class="list">
                    <li class="active"><a href="{% url 'main:home'%}"><i class="fa-solid fa-house"></i><span>Bosh sahifa</span></a></li>
                    <li><a href="products.html"><i class="fa-regular fa-parachute-box"></i><span>Tovarlar</span></a></li>
                    <li><a href=""><i class="fa-solid fa-money-check-dollar-pen"></i><span>Tovarlar qo'shish</span></a></li>
                    <li><a href=""><i class="fa-solid fa-warehouse-full"></i><span>Ishchilar</span></a></li>
                </ul>
            </div>
            <div>
                <ul class="list">
                    
                    <li><a href=""><i class="fa-solid fa-cog"></i><span>Sozlamalar</span></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <nav>
                <div class="whater">
                    <h4 style="display: inline;"><span class="degres"></span><sup>0</sup>C</h4>
                    <img src="" alt="" class="wheather-img" width="40px">
                </div>
                <div class="user">
                    <a href="">
                        {% if request.user.is_authenticated %}
                            <span>{{request.user}}</span>
                            <i class="fa-solid fa-industry-windows"></i>
                        {% endif %}
                    </a>
                </div>
            </nav>
            {% block content %} {% endblock %}
        </div>
    </div>
    <div class="alert">
        <h1>Sizning qurilmangiz buni qollab quvatlamaydi</h1>
    </div>
<script>
    
</script>
    <script src="/static/js/script.js"></script>
    
</body>
</html>
