{% extends "base.html" %}
{% block content %}
<main>
    <br><br>
    <div class="monthly-information">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <h2><i class="fa-solid fa-sack-dollar"></i>Kirim</h2>
                    <h1>32482</h1>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <h2><i class="fa-regular fa-circle-dollar-to-slot"></i>Chiqim</h2>
                    <h1>32,482.44</h1>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <h2><i class="fa-solid fa-truck-fast"></i>Sotildi</h2>
                    <h1 class="none">210ta</h1>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <h2><i class="fa-solid fa-box-taped"></i>Ombor</h2>
                    <h1 class="none">140ta</h1>
                </div>
            </div>
        </div>
        <br><br>
        <h1>Sotilgan tovarlar</h1>
        <br><br>
        <div class="row table-list">
            <div class="col-xl-8 col-lg-12">
                <ul class="header">
                    <li><i class="fa-sharp fa-solid fa-box"></i>Tovar nomi</li>
                    <li><i class="fa-solid fa-boxes-stacked"></i>Tovar soni</li>
                    <li><i class="fa-solid fa-money-bill-1"></i>Tovar narxi</li>
                    <li><i class="fa-light fa-circle-dollar"></i>Jami summa</li>
                </ul>
                <div style="height: 330px; overflow-x: auto; padding-right: 15px;">
                    <ul>
                        <li>Politiren turba</li>
                        <li>500m</li>
                        <li>10/metr</li>
                        <li>5million</li>
                    </ul>
                    <ul>
                        <li>Politiren turba</li>
                        <li>500m</li>
                        <li>10/metr</li>
                        <li>5million</li>
                    </ul>
                    <ul>
                        <li>Politiren turba</li>
                        <li>500m</li>
                        <li>10/metr</li>
                        <li>5million</li>
                    </ul>
                    <ul>
                        <li>Politiren turba</li>
                        <li>500m</li>
                        <li>10/metr</li>
                        <li>5million</li>
                    </ul>
                    <ul>
                        <li>Politiren turba</li>
                        <li>500m</li>
                        <li>10/metr</li>
                        <li>5million</li>
                    </ul>
                    <ul>
                        <li>Politiren turba</li>
                        <li>500m</li>
                        <li>10/metr</li>
                        <li>5million</li>
                    </ul>
                    <ul>
                        <li>Politiren turba</li>
                        <li>500m</li>
                        <li>10/metr</li>
                        <li>5million</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4">
                <aside>
                    <div class="searchbar" style="width: 100%;">
                        <i class="fa-solid fa-clipboard-list-check"></i>
                        <input type="text" placeholder="Add todo">
                        <i class="fa-solid fa-arrow-turn-down submit"></i>
                    </div>
                    <ul style="height: 260px; overflow-y: auto;" class="list">
                        <li>
                            <div class="cntr">
                                <input type="checkbox" id="cbx" class="hidden-xs-up">
                                <label for="cbx" class="cbx"></label>
                              </div>
                            <span>lorem ipsum</span>
                        </li>
                        <li>
                            <div class="cntr">
                                <input type="checkbox" id="cbx" class="hidden-xs-up">
                                <label for="cbx" class="cbx"></label>
                              </div>
                            <span>lorem ipsum</span>
                        </li>
                        <li class="finished">
                            <div class="cntr">
                                <input type="checkbox" id="cbx" class="hidden-xs-up">
                                <label for="cbx" class="cbx"></label>
                              </div>
                            <span>lorem ipsum</span>
                        </li>
                    </ul>
                    <a href="" class="text-warning">Barchasini korish</a>
                </aside>
            </div>
        </div>
    </div>
</main>
{% endblock %}