{% extends "base.html" %}
{% block content %}
<div class="content">
    <nav>
        <div class="whater">
            <h4 style="display: inline;"><span class="degres"></span><sup>0</sup>C</h4>
            <img src="" alt="" class="wheather-img" width="40px">
        </div>
        <div class="user">
            <a href="">
                {% if request.user.is_authenticated %}
                    <span>{{request.user}}</span>
                    <i class="fa-solid fa-industry-windows"></i>
                {% endif %}
            </a>
        </div>
    </nav>
<main>
    <br><br>
    <div class="monthly-information">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <h2><i class="fa-solid fa-sack-dollar"></i>Kirim</h2>
                    <h1 class="number">{{report.income}}</h1>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <h2><i class="fa-regular fa-circle-dollar-to-slot"></i>Chiqim</h2>
                    <h1 class="number">{{report.outcome}}</h1>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <h2><i class="fa-solid fa-truck-fast"></i>Sotildi</h2>
                    <h1 class="none number">{{report.sells}}</h1>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <h2><i class="fa-solid fa-box-taped"></i>Ombor</h2>
                    <h1 class="none number">{{report.stock}}</h1>
                </div>
            </div>
        </div>
        <br><br>
        <h1>Sotilgan tovarlar</h1>
        <br><br>
        <div class="row table-list">
            <div class="col-xl-8 col-lg-12">
                <ul class="header">
                    <li><i class="fa-sharp fa-solid fa-box"></i>Tovar nomi</li>
                    <li><i class="fa-solid fa-boxes-stacked"></i>Tovar soni</li>
                    <li><i class="fa-solid fa-money-bill-1"></i>Tovar narxi</li>
                    <li><i class="fa-light fa-circle-dollar"></i>Jami summa</li>
                </ul>
                <div style="height: 330px; overflow-x: auto; padding-right: 15px;">
                    {% for history in histories %}
                        <ul class="{% if  history.mode == 'sale' %}sale{% else %}come{% endif %}">
                            <li>{{history.product.name}}</li>
                            <li><span class="number">{{history.quantity}}</span> {{history.product.measure}}</li>
                            <li><span class="number">{{history.product.sell}}</span> sum/{{history.product.measure}}</li>
                            <li><span class="number">{{history.price}}</span> sum</li>
                        </ul>                        
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-4">
                <aside>
                    <div class="searchbar" style="width: 100%;">
                        <i class="fa-solid fa-clipboard-list-check"></i>
                        <input type="text" placeholder="Add todo" >
                        <i class="fa-solid fa-arrow-turn-down submit" onclick="getTodos()"></i>
                    </div>
                    <ul style="height: 260px; overflow-y: auto;" class="list">
                        {% for todo in todos %}
                        <li class="{% if todo.is_active %}finished{% endif %}">
                            <input type="checkbox" id="{{todos.id}}"  onclick="updated({{todo.id}})" {% if todo.is_active %}checked disabled {% endif %}>
                            <span>{{todo.name}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'main:todos'%}" class="text-warning">Barchasini korish</a>
                </aside>
            </div>
        </div>
    </div>
</main>
</div>
{% endblock %}

{% block code %}
<script>
    
/*SEARCH BY USING A CITY NAME (e.g. athens) OR A COMMA-SEPARATED CITY NAME ALONG WITH THE COUNTRY CODE (e.g. athens,gr)*/
const form = document.querySelector(".top-banner form");
const input = document.querySelector(".top-banner input");
const msg = document.querySelector(".top-banner .msg");
const list = document.querySelector(".ajax-section .cities");
/*SUBSCRIBE HERE FOR API KEY: https://home.openweathermap.org/users/sign_up*/
const apiKey = "4d8fb5b93d4af21d66a2948710284366";

//ajax here
const url = `https://api.openweathermap.org/data/2.5/weather?q=Andijon&appid=${apiKey}&units=metric`;

fetch(url)
    .then(response => response.json())
    .then(data => {
        const { main, name, sys, weather } = data;
        console.log(main.temp)
        document.querySelector('.degres').innerText = main.temp
        const icon = `https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/${weather[0]["icon"]
            }.svg`;
        console.log(icon)
        console.log(weather[0])
        document.querySelector('.wheather-img').src = icon

    })
    .catch(() => {
        msg.textContent = "Please search for a valid city 😩";
    });

    num = document.querySelectorAll('.number')
    for (let i = 0; i< num.length; i++){
        num[i].innerText = String(num[i].innerText).replace(/(.)(?=(\d{3})+$)/g,'$1,')
    }
</script>
{% endblock code %}