{% extends "base.html" %}
{% block content %}
<br><br>
<div class="content">
    <nav>
        <div class="whater">
            <h4 style="display: inline;"><span class="degres"></span><sup>0</sup>C</h4>
            <img src="" alt="" class="wheather-img" width="40px">
        </div>
        <div class="user">
            <a href="">
                {% if request.user.is_authenticated %}
                    <span>{{request.user}}</span>
                    <i class="fa-solid fa-industry-windows"></i>
                {% endif %}
            </a>
        </div>
    </nav>
<div class="container">
    <div class="row table-list" >
        <div class="col-xl-12">
            <aside>
                <div class="searchbar" style="width: 100%;">
                    <i class="fa-solid fa-clipboard-list-check"></i>
                    <input type="text" placeholder="Topshiriq qo'shish" >
                    <i class="fa-solid fa-arrow-turn-down submit" onclick="getTodos()"></i>
                </div>
                <ul style="height: 260px; width: 100%; list-style: none;" class="list todo-list">
                    {% for todo in todos %}
                    <li class="{% if todo.is_active %}finished{% endif %}">
                        <div>
                            <input type="checkbox" id="{{todos.id}}" style="width: 30px; height: 30px;"  onclick="updated({{todo.id}})" {% if todo.is_active %}checked disabled {% endif %}>
                            <span>{{todo.name}}</span>
                        </div>
                        <i class="fa-solid fa-trash text-danger" onclick="editTodo({{todo.id}} , 'delete')"></i>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
        </div>
    </div>
</div>
</div>

{% endblock %}